/*couleur de fond*/
body {
    background-color: var(--noir);
}

/*Police 'Aquire', couleurs typographiques*/
h1,
h2,
h4 {
    font-family: 'aquire';
    color: white;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-transform: uppercase;
}

/*Police 'Europa Grotesk SH', couleurs typographiques*/

h3,
h5,
p,
.small {
    font-family: 'quicksand', sans-serif;
    color: white;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/*Taille des polices*/
h1 {
    font-size: var(--title-h1);
    letter-spacing: 0.3rem;
    font-weight: bold;
}

h2 {
    font-size: var(--title-h2);
    letter-spacing: 0.3rem;
    font-weight: bold;
}

h3 {
    font-size: var(--title-h3);
}

h4 {
    font-size: var(--title-h4);
    font-weight: bold;
}

h5 {
    font-size: var(--title-chapo);
}

p {
    font-size: var(--body-m);
}

.small,
.footerText {
    font-size: var(--body-s);
}

/*Titres centrés*/
.titleText {
    text-align: center;
    line-height: 0.3125rem;
}

/*Avatar de la page about A REFAIRE*/
.articleHeader1::after {
    content: url(../../../public/img/avatar_zoe.svg);
}

/*Annulation des décorations de boutons*/
button {
    border: none;
    background: none;
}

/*Définition de la taille automatique des images*/
.imgFull {
    max-width: 100%
}

img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Cards article*/
.container {
    position: relative;
    text-align: center;
    max-width: auto;
}

.containerText {
    position: static;
    top: 75.625rem;
    left: 3.125rem;
    line-height: 0.3125rem;
    text-align: left;
}

/*Décorations de lien*/
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/*Alignement des paragraphes à droite*/
p {
    text-align: left;
}

.quoteEnd {
    font-size: var(--small);
    text-align: right;
}