/*couleur de fond*/
body {
    background-color: var(--noir);
}

/*Police 'Aquire', couleurs typographiques*/
h1,
h2,
h4 {
    font-family: 'aquire';
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/*Police 'Europa Grotesk SH', couleurs typographiques*/

h3,
h5,
p,
.small {
    font-family: 'quicksand', sans-serif;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/*Taille des polices*/
h1 {
    font-size: var(--title-h1);
    letter-spacing: .3rem;
    font-weight: bold;
}

h2 {
    font-size: var(--title-h2);
    letter-spacing: .3rem;
    font-weight: bold;
}

h3 {
    font-size: var(--title-h3);
}

h4 {
    font-size: var(--title-h4);
    font-weight: bold;
}

h5 {
    font-size: var(--title-chapo)
}

p {
    font-size: var(--body-m);
}

.small,
.footerText {
    font-size: var(--body-s);
}

/*Titres centrés*/
.titleText {
    text-align: center;
    line-height: 5px;
}

.articleHeader1 {
    margin-bottom: -40px;
}

.articleHeader1::after {
    content: url(../../../public/img/avatar_zoe.svg);
}

/*Annulation des décorations de boutons*/
button {
    border: none;
    background: none;
}

/*Définition de la taille automatique des images*/
.imgFull {
    max-width: 100%
}

img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Cards article*/
.container {
    position: relative;
    text-align: center;
    max-width: auto;
}

.containerText {
    position: static;
    top: 1210px;
    left: 50px;
    line-height: 5px;
    text-align: left;
}

/*Décorations de lien*/
.lienCard {
    text-decoration: none;
}

a {
    color: white;
    font-weight: bold;
}

/*Card article*/
.cardArticle {
    width: 300px;
    height: auto;
    border: solid 3px transparent;
    border-radius: 15px;
    background-image: linear-gradient(to right, var(--violet_sunset), var(--orange_sunset));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}