@import "../src/css/style.css";

.cardsArticle {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.875rem;
    margin-bottom: 4rem;
}

.cardBox {
    position: relative;
    width: 310px;
    height: 125px;
    border-radius: 16px;
    display: grid;
    margin: auto;
    overflow: hidden;
}

.cardBlock {
    position: absolute;
    height: 115px;
    width: 300px;
    inset: 20px;
    background-color: var(--noir);
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 2px;
    border-color: var(--noir);
    border-radius: 16px;
    --angle: 0deg;
    width: 50vmin;
    height: 50vmin;
    border: 1rem solid;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 5s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.cardImage {
    position: absolute;
    height: 115px;
    z-index: 3;
    right: 5px;
    border-radius: 15px;
    bottom: 4.8px;
}

.cardTitle {
    position: absolute;
    top: 5px;
    line-height: 0px;
    z-index: 5;
}

.cardTitleSpacing {
    line-height: 1.25rem;
}

/*Animation des cards*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}