:root {
    --title-h1: 4rem;
    --title-h2: 2.25rem;
    --title-h3: 1.875rem;
    --title-h4: 1.25rem;
    --title-chapo: 1.125rem;
    --body-m: 1.125rem;
    --body-s: 0.875rem;
    --noir: #101010;
    --rose_sunrise: #EB00FF;
    --orange_sunrise: #FFA800;
    --violet_sunset: #6E16FF;
    --orange_sunset: #EA7C3E;
    --violet_twilight: #7E00E1;
    --bleu_twilight: #446EB7;
}