:root {
    --title-h1: 64px;
    --title-h2: 36px;
    --title-h3: 30px;
    --title-h4: 20px;
    --title-chapo: 18px;
    --body-m: 18px;
    --body-s: 14px;
    --noir: #101010;
    --rose_sunrise: #EB00FF;
    --orange_sunrise: #FFA800;
    --violet_sunset: #6E16FF;
    --orange_sunset: #EA7C3E;
    --violet_twilight: #7E00E1;
    --bleu_twilight: #446EB7;
}