/*Footer*/
footer {
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--noir);
}

.reseauxSociaux {
    columns: 3;
    max-width: 200px;
    margin: auto;
    padding: auto;
}

.flexRight {
    margin-right: 20px;
}

.flexLeft {
    margin-left: 8px;
}

/*Couverture de l'accueil*/
.h1Cyber {
    left: 0px;
    top: 130px;
    margin-bottom: -40px;
    position: absolute;
}

.h1Cyber::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: white;
    left: 285px;
    top: 40px;
    position: absolute;
    border-radius: 5px;
}

.h1Soul {
    right: 0px;
    margin-top: -50px;
    position: absolute;
}

.h1Soul::before {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background: white;
    left: -105px;
    top: 40px;
    position: absolute;
    border-radius: 5px;
}

.introTitle {
    margin-top: 50px;
    margin-bottom: 50px;
}

.intro {
    position: relative;
    z-index: 2;
    margin-bottom: 45px;
}