/*Elements de base des articles*/
.articleHeader {
    text-align: center;
    line-height: .3125rem;
}

/*Flèche*/
.articleImage::after {
    content: url(../../../public/icons/arrow.svg);
    display: block;
    margin-top: -1.25rem;
}

/*Bordures*/
.quoteText::before {
    content: url(../../../public/icons/border_up.svg);
    display: block;
    margin-bottom: -1em;
}

.quoteText::after {
    content: url(../../../public/icons/border_down.svg);
    display: block;
    margin-top: -1em;
}

/*Espacements*/
.quoteText {
    line-height: 1.2em;
    margin-top: 3em;
    margin-bottom: 5em;
}