/*Elements de base des articles*/

/*Alignement du titre et du sous-titre*/
.articleText {
    text-align: center;
}

/*Flèche*/
.articleImage::after {
    content: url(../../../public/icons/arrow.svg);
    display: block;
    margin-top: -1.25rem;
    text-align: center;
}

/*Bordures*/
.quoteText::before {
    content: url(../../../public/icons/border_up.svg);
    display: block;
    margin-bottom: -1em;
}

.quoteText::after {
    content: url(../../../public/icons/border_down.svg);
    display: block;
    margin-top: -1em;
}

/*Espacements*/
.quoteText {
    line-height: 1.2em;
    margin-top: 2em;
    margin-bottom: 3em;
}