.cardsArticle {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.875rem;
    margin-bottom: 4rem;
}

.cardBox {
    position: relative;
    width: 310px;
    height: 125px;
    border-radius: 16px;
    display: grid;
    margin: auto;
    overflow: hidden;
}

.cardBox::before {
    content: '';
    position: absolute;
    width: 550px;
    height: 220px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--orange_sunset));
    animation: rotate 2.5s linear infinite;
}

.cardBox::after {
    content: '';
    position: absolute;
    width: 550px;
    height: 220px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--violet_sunset));
    animation: rotate 2.5s linear infinite;
}

.cardBlock {
    position: absolute;
    height: 115px;
    width: 300px;
    inset: 20px;
    background-color: var(--noir);
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 2px;
    border-color: var(--noir);
    border-radius: 16px;
}

.cardImage {
    position: absolute;
    height: 115px;
    z-index: 3;
    right: 5px;
    border-radius: 15px;
    bottom: 4.8px;
    margin: 0;
}

.cardTitle {
    position: absolute;
    top: 5px;
    line-height: 0px;
    z-index: 5;
}

.cardTitleSpacing {
    line-height: 1.25rem;
}

/*Animation des cards*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}