.cardsArticle {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.875rem;
    margin-bottom: 4rem;
}

.cardContainer1 {
    position: relative;
    width: 18.75rem;
    border-style: solid;
    border-color: white;
    border-radius: .625rem;
    margin: auto;
    line-height: 0rem;
}

.cardImage1 {
    position: absolute;
    width: 8.1875rem;
    z-index: -1;
    right: 0;
}

.cardText1 {
    margin-bottom: 3.375rem;
}

.cardContainer2 {
    position: relative;
    width: 18.75rem;
    border-style: solid;
    border-color: white;
    border-radius: .625rem;
    margin: auto;
    line-height: 0rem;
}

.cardImage2 {
    position: absolute;
    width: 8.4375rem;
    z-index: -1;
    right: -0.125rem;
}

.cardBox3 {
    position: relative;
    width: 310px;
    height: 125px;
    border-radius: 16px;
    display: grid;
    margin: auto;
    overflow: hidden;
}

.cardBox3::before {
    content: '';
    position: absolute;
    width: 550px;
    height: 220px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--orange_sunset));
    animation: rotate 2.5s linear infinite;
}

.cardBox3::after {
    content: '';
    position: absolute;
    width: 550px;
    height: 220px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--violet_sunset));
    animation: rotate 2.5s linear infinite;
}

.cardBlock3 {
    position: absolute;
    height: 115px;
    width: 300px;
    inset: 20px;
    background-color: var(--noir);
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 2px;
    border-color: var(--noir);
    border-radius: 16px;
}

.cardImage3 {
    position: absolute;
    height: 115px;
    z-index: 3;
    right: 5px;
    border-radius: 15px;
    bottom: 4.8px;
}

.cardTitle3 {
    position: absolute;
    top: 5px;
    line-height: 0px;
    z-index: 5;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.cardContainer4 {
    position: relative;
    width: 18.75rem;
    border-style: solid;
    border-color: white;
    border-radius: .625rem;
    margin: auto;
    line-height: 0rem;
}

.cardImage4 {
    position: absolute;
    width: 8.4375rem;
    z-index: -1;
    right: -0.0938rem;
}

.cardContainer5 {
    position: relative;
    width: 18.75rem;
    border-style: solid;
    border-color: white;
    border-radius: .625rem;
    margin: auto;
    line-height: 0rem;
}

.cardImage5 {
    position: absolute;
    width: 8.4375rem;
    z-index: -1;
    top: -0.0625rem;
    right: -0.0938rem;
}

.cardContainer6 {
    position: relative;
    width: 18.75rem;
    border-style: solid;
    border-color: white;
    border-radius: .625rem;
    margin: auto;
    line-height: 0rem;
}

.cardImage6 {
    position: absolute;
    width: 8.4375rem;
    z-index: -1;
    right: -0.0938rem;
}

.cardTextSpacing {
    line-height: 1.25rem;
}