/*Style des composants*/
.component1 {
    position: absolute;
    rotate: 90deg;
    top: 36.875rem;
    left: -4.375rem;
    z-index: 1;
}

.component2 {
    position: relative;
    overflow: hidden;
}

.component2::after {
    content: url(../../../public/icons/patterns_mix_3.svg);
    position: absolute;
    right: -2.8em;
    top: 2.8125rem;
}

.component3 {
    position: absolute;
    top: 73.125rem;
    left: 1.875rem;
}

.component4 {
    position: absolute;
    top: "";
    left: "";
}

.component5 {
    position: absolute;
    top: "";
    left: "";
    z-index: "";
}

.componentabout {
    position: absolute;
    top: 47.25rem;
    left: 0.625rem;
}