/*A copier coller*/
.componentNUMBER::before {
    position: absolute;
    content: url(../../../public/icons/svg.svg);
    top: 0px;
    right: 0px;
}

/*Style des composants*/
main {
    overflow: hidden;
}

.component1 {
    position: absolute;
    rotate: 90deg;
    top: 36.875rem;
    left: -4.375rem;
    z-index: 1;
}

.component2 {
    position: relative;
    overflow: hidden;
}

.component2::after {
    content: url(../../../public/icons/patterns_mix_3.svg);
    position: relative;
    overflow: hidden;
}

.component2::after {
    content: url(../../../public/icons/patterns_mix_3.svg);
    position: absolute;
    right: -2.8em;
    top: 2.8125rem;
}

.component3 {
    position: absolute;
    top: 73.125rem;
    left: 1.875rem;
}

.component4 {
    position: absolute;
    top: "";
    left: "";
}

.component5_6_7 {
    overflow: hidden
}

.component5_6 {
    position: relative;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.component5_6::before {
    content: url(../../../public/icons/dots_b.svg);
    position: absolute;
    z-index: -1;
    right: -120px;
    top: -200px;
}

.component5_6::after {
    content: url(../../../public/icons/patterns_mix_3.svg);
    position: absolute;
    transform: scaleX(-1);
    left: -11px;
    bottom: -40px;
}

.component7 {
    position: relative;
    display: grid;
    margin-top: 20px;
    margin-bottom: 40px;
}

.component7::before {
    content: url(../../../public/icons/patterns_mix_4.svg);
    position: absolute;
    left: 10px;
    bottom: -30px;
    z-index: 2;
}

.component8 {
    position: relative;
    display: grid;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.component8::before {
    content: url(../../../public/icons/dots_s.svg);
    position: relative;
}

/*nouvelle méthodologie d'organisation et placement des composants*/
.component {
    position: relative;
    display: grid;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}

/*page article 3*/
.component16::before {
    position: absolute;
    content: url(../../../public/icons/cloud_2.svg);
    top: -2px;
    right: 25px;
}

.component17::before {
    position: absolute;
    content: url(../../../public/icons/patterns_mix_2.svg);
    top: -10px;
    right: 25px;
}

.component18::after {
    position: absolute;
    content: url(../../../public/icons/cross_3.svg);
    bottom: 40px;
    left: 8px;
}

.component19::before {
    position: absolute;
    content: url(../../../public/icons/dots_m.svg);
    bottom: 2px;
    right: 8px;
    z-index: -1
}

.component20::before {
    position: absolute;
    content: url(../../../public/icons/patterns_mix_4.svg);
    top: 125px;
    right: -20px;
}

/*page article 4*/
.component21::before {
    position: absolute;
    content: url(../../../public/icons/cross_mix.svg);
    top: 320px;
    right: 20px;
}

.component22::after {
    position: absolute;
    content: url(../../../public/icons/patterns_mix_1.svg);
    top: 640px;
    right: 10px;
}

.component23::before {
    position: absolute;
    content: url(../../../public/icons/dots_b.svg);
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.component24::before {
    position: absolute;
    content: url(../../../public/icons/square_mix_2.svg);
    bottom: 60px;
    left: 15px;

}

.component25::after {
    position: absolute;
    content: url(../../../public/icons/dots_m.svg);
    bottom: 10px;
    right: 0px;
    z-index: -1;
}

.component26::before {
    position: absolute;
    content: url(../../../public/icons/square_mix_1.svg);
    top: 270px;
    right: -20px;
}

/*Page A propos*/
.component-about-1 {
    position: absolute;
    top: 980px;
    right: 0px;
}

.component-about-2::before {
    position: absolute;
    content: url(../../../public/icons/cloud_4.svg);
    top: 10px;
    left: 10px;
}

.component-about-3::after {
    position: absolute;
    content: url(../../../public/icons/cloud_5.svg);
    bottom: 10px;
    right: 10px;
}