/*Footer*/
footer {
    width: 100%;
    margin-bottom: 1.875rem;
    background-color: var(--noir);
    margin-top: 1.25rem;
}

.footer-text {
    margin-bottom: 2.5rem;
}

.reseaux-sociaux {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    gap: 20px;
    margin-left: 145px;
}