/*Footer*/
footer {
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--noir);
    margin-top: 50px;
}

.footerText {
    margin-bottom: 40px;
}

.reseauxSociaux {
    columns: 3;
    max-width: 200px;
    margin: auto;
    padding: auto;
}