/*Header*/
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    margin-bottom: -10px;
}

.logo {
    margin-left: 0.625rem;
}

.flexRight {
    margin-right: 1.25rem;
}

.flexLeft {
    margin-left: 0.5rem;
}

.boutonEN {
    margin-right: -0.9375rem;
    margin-left: 1.5625rem;
}

.menu {
    margin-bottom: 0.0625rem;
    max-width: 150%;
}