/*Header*/
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.logo {
    margin-left: 10px;
}

.flexRight {
    margin-right: 20px;
}

.flexLeft {
    margin-left: 8px;
}

.boutonEN {
    margin-right: -15px;
    margin-left: 25px;
}

.menu {
    margin-bottom: 1px;
    max-width: 150%;
}