/*Définition de la frise en relative*/
.tlMain {
    position: relative;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    overflow: hidden;
}

/*Flèche*/
.timeline::after {
    content: url(../../../public/icons/arrow.svg);
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

/*Style des images*/
.tlImage1 {
    border-style: solid;
    border-radius: 1.875rem;
    border-color: white;
    border-width: .4375rem;
    width: 15rem;
    height: 15rem;
}

.tlImage2 {
    border-style: solid;
    border-radius: 1.875rem;
    border-color: white;
    border-width: .4375rem;
    width: 15rem;
    height: 15rem;
}

.tlImage3 {
    border-style: solid;
    border-radius: 1.875rem;
    border-color: white;
    border-width: .4375rem;
    width: 15rem;
    height: 15rem;
}

/*Lignes de la frise*/
.tlMain:first-child::after {
    content: url(../../../public/icons/timeline/path_right.svg);
    position: absolute;
    right: 1rem;
    top: 7.5rem;
    z-index: -1;
}

.tlMain:last-child::before {
    content: url(../../../public/icons/timeline/path_left.svg);
    position: absolute;
    left: 1rem;
    bottom: 7.5rem;
    z-index: -1;
}

/*Composants de la frise*/
.tlMain:first-child::before {
    content: url(../../../public/icons/cross_mix.svg);
    position: absolute;
    left: 1rem;
    top: 14.5rem;
}

.tlMain:last-child::after {
    content: url(../../../public/icons/patterns_mix_2.svg);
    position: absolute;
    right: -0.8rem;
    bottom: 15.5rem;
}

/*style des espaces textuels*/
.tlContainer1 {
    position: absolute;
    text-align: center;
    height: 3.125rem;
    width: 14rem;
    background-color: white;
    border-radius: 1.25rem;
    top: 11.5rem;
    left: 6.5rem;
    padding-bottom: 1.875rem;


}

.tlContainer2 {
    position: absolute;
    text-align: center;
    height: 3.125rem;
    width: 14rem;
    background-color: white;
    border-radius: 1.25rem;
    top: 11.5rem;
    left: 3rem;
    padding-bottom: 1.875rem;
}

.tlContainer3 {
    position: absolute;
    text-align: center;
    height: 3.125rem;
    width: 14rem;
    background-color: white;
    border-radius: 1.25rem;
    top: 11.5rem;
    left: 6.5rem;
    padding-bottom: 1.875rem;
}

/*style du texte*/
.tl {
    color: black;
    line-height: 0rem;
}

.tl3 {
    padding: .6875rem;
}