@font-face {
    font-family: 'aquirebold';
    src: url('aquirebold-8ma60-webfont.woff2') format('woff2'),
        url('aquirebold-8ma60-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'europa_grotesk_shregular';
    src: url('europagrotesksh-reg-webfont.woff2') format('woff2'),
        url('europagrotesksh-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'europa_grotesk_shMdEx';
    src: url('europagrotesksh-medex-webfont.woff2') format('woff2'),
        url('europagrotesksh-medex-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');